@import 'tailwindcss';
@plugin "daisyui" {
   colorthemes: light dark;
}

@plugin "daisyui/theme" {
   name: 'light';
}

:root {
   font-family: 'Inter', sans-serif;

   color-scheme: light dark;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   --defaultRadius: var(--radius-lg);
}

h1,
h2 {
   @apply text-2xl;
   font-family: 'Roboto Flex', sans-serif;
}

.btn {
   @apply rounded-(--defaultRadius);
}
